<fieldset>
    <legend>Ajouter votre item</legend>

    <form action="/add/items/<%= user.id %>" method="POST" class="form-items">
        <label for="title">Titre de l'item</label>
        <input type="text" id="title" name="title">

        <label for="content">Description</label>
        <textarea id="content" name="content"></textarea>

        <label for="price">Prix</label>
        <input type="number" id="price" name="price">

        <label for="category">Catégorie</label>
        <select name="category" id="category" required>

            <option value="">Sélectionnez une catégorie</option>
            <% for(let i = 0; i < category.length; i++) { %>
                <option value="<%= category[i].id %>"><%= category[i].name %></option>
            <% } %>
        </select>

        <label for="image">Image</label>
        <div class="image">
            <% for(let i = 0; i < images.length; i++) { %>
                <input type="radio" id="image<%= i %>" name="image" value="<%= images[i].id %>">
                <img src="<%= images[i].url %>" alt="<%= images[i].description %>">
            <% } %>
        </div>

        <input type="hidden" name="user" value="<%= user.id %>">
        <input type="submit" value="Ajouter">
    </form>

</fieldset>