<div class="container-form">
    <section class="search-form">
        <form method="post" action="/search/articles">
            <label for="search">Chercher une catégorie</label>
            <select name="search" id="search" required>
                <option value="e">Sélectionnez une catégorie</option>
                <option value="Aide IG">Aide IG</option>
                <option value="Events">Events</option>
                <option value="Update">Update</option>
            </select>
            <input type="submit" value="Rechercher">
        </form>
    </section>

    <section class="mobil-list">
        <h2>Liste des posts</h2>
        <ul>
            <% for( let i = 0; i < articles.length; i++ ) { %>
                <li class="list-articles">
                    <div>
                        <p>Créateur : </p>
                        <p><%= articles[i].pseudo %></p>
                    </div>
                    <div>
                        <p>Titre : </p>
                        <p><a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a></p>
                    </div>
                    <div>
                        <p>Description : </p>
                        <p><%= articles[i].description.substring(0, 15) %> ...</p>
                    </div>
                    <div>
                        <p>Catégorie : </p>
                        <p><%= articles[i].name %></p>
                    </div>
                    <div>
                        <p> Date de création : </p>
                        <p><%= articles[i].date.toLocaleDateString() %></p>
                    </div>
                </li>
            <% } %>
        </ul>
    </section>

    <section class="mobil-hidden">
        <h2>Tableau des posts</h2>
        <table class="table-forum">
            <thead class="table-forum_thead">
            <tr>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Créateur</th>
                <th>Date de création</th>
            </tr>
            </thead>
            <tbody class="table-forum_tbody">
            <% for( let i = 0; i < articles.length; i++ ) { %>
                <tr>
                    <td><%= articles[i].name %></td>
                    <td><a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a></td>
                    <td><%= articles[i].description.substring(0, 15) %> ...</td>
                    <td><%= articles[i].pseudo %></td>
                    <td><%= articles[i].date.toLocaleDateString() %></td>
                </tr>
            <% } %>
        </table>
    </section>
</div>