<h1> <%= user.pseudo %> </h1>

<section class="profil-user">
    <ul>
        <li><a href="/add/articles/<%= user.id %>">ajouter un article</a></li>
        <li><a href="/add/items/<%= user.id %>">ajouter un item</a></li>
    </ul>

    <% if (articles.length > 0) { %>

        <h2>Articles</h2>
        <table class="table-articles js-table-articles">
            <thead>
            <tr>
                <th>titre</th>
                <th>contenu</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < articles.length; i++) { %>
                <tr data-id="<%= articles[i].id %>">
                    <td><a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a></td>
                    <td><%= articles[i].description.substring(0, 30) %></td>
                    <td>
                        <button class="js-article-remove" data-id="<%= articles[i].id %>"><i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

    <% if (items.length > 0) { %>
    <table class=" table-items js-table-items">
        <thead>
        <tr>
            <th>nom</th>
            <th>description</th>
            <th>image</th>
            <th>prix</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(function(item) { %>
            <tr data-id="<%= item.id %>">
                <td><%= item.title %></td>
                <td><%= item.content %></td>
                <td><img src="<%= item.url %>" alt="<%= item.description %>"></td>
                <td><%= item.price %> <img src="/img/icon.png" alt="une piece d'or" class="img-price"></td>
                <td>
                    <button class="js-item-remove" data-id="<%= item.id %>"><i class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
        <% })} %>
        </tbody>
    </table>
</section>

<script src="/js/delete.js"></script>
