<section class="profil-setting">
    <h2>Paramètre utilisateur</h2>
    <article>
        <p>pseudo : <%= user.pseudo %></p>
        <p>email : <%= user.email %></p>
        <p>Mot de passe : ******** </p>
        <a href="/setting/edit-profile/<%= user.id %>">Modifier mon profil</a>
        <a href="/setting/edit-password/<%= user.id %>">Modifier mon mot de passe</a>
        <a href="/delete/user/<%= user.id %>"> suprimer compte</a>
    </article>
</section>