<h1> <%= user.pseudo %> </h1>
<section class="profil-user">
    <% if (articles.length > 0) { %>
        <section class="mobil-list">
            <h2>list Articles</h2>
            <ul class="js-list-articles">
                <% for( let i = 0; i < articles.length; i++ ) { %>
                    <li class="list-articles" data-id="<%= articles[i].id %>">
                        <div>
                            <p>Titre : </p>
                            <p><a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a></p>
                        </div>
                        <div>
                            <p>Description : </p>
                            <p><%= articles[i].description.substring(0, 15) %> ...</p>
                        </div>
                        <div>
                            <p>Modifier : </p>
                            <p><a href="/edit/articles/<%= articles[i].id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                            </p>
                        </div>
                        <div>
                            <p>Suprimer : </p>
                            <p>
                                <button class="js-list-article-remove" data-id="<%= articles[i].id %>"><i
                                            class="fa fa-remove"></i></button>
                            </p>
                        </div>
                    </li>
                <% } %>
            </ul>
        </section>

        <section class="mobil-hidden">
            <h2>list Articles</h2>
            <table class="table-articles js-table-articles">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Suprimer</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i = 0; i < articles.length; i++) { %>
                    <tr data-id="<%= articles[i].id %>">
                        <td><a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a></td>
                        <td><%= articles[i].description.substring(0, 30) %>...</td>
                        <td>
                            <button class="js-article-remove" data-id="<%= articles[i].id %>"><i
                                        class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </section>
    <% } %>

    <% if (items.length > 0) { %>
        <section class="mobil-list">
            <h2>list Items</h2>
            <ul class="js-list-items">
                <% for(let i = 0; i < items.length; i++) { %>
                    <li class="list-items" data-id="<%= items[i].id %>">
                        <div>
                            <p>Item : </p>
                            <p><%= items[i].title.substring(0, 15) %></p>
                        </div>
                        <div>
                            <p>Description : </p>
                            <p><%= items[i].content.substring(0, 15) %>...</p>
                        </div>
                        <div>
                            <p>Image : </p>
                            <p><img src="<%= items[i].url %>" alt=" <%= items[i].description %>"></p>
                        </div>
                        <div>
                            <p>Suprimer : </p>
                            <p>
                                <button class="js-list-items-remove" data-id="<%= items[i].id %>"><i
                                            class="fa fa-remove"></i></button>
                            </p>
                        </div>
                    </li>
                <% } %>
            </ul>
        </section>

        <section class="mobil-hidden">
            <h2>list Items</h2>
            <table class="table-items js-table-items">
                <thead>
                <tr>
                    <th>nom</th>
                    <th>description</th>
                    <th>image</th>
                    <th>prix</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <% items.forEach(function(item) { %>
                    <tr data-id="<%= item.id %>">
                        <td><%= item.title.substring(0, 15) %></td>
                        <td><%= item.content.substring(0, 15) %>...</td>
                        <td><img src="<%= item.url %>" alt="<%= item.description %>"></td>
                        <td>
                            <div><p><%= item.price %></p><img src="/img/icon.webp" alt="Pièce d'or" class="img-coins">
                            </div>
                        </td>
                        <td>
                            <button class="js-item-remove" data-id="<%= item.id %>"><i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </section>
    <% } %>
</section>
<script src="/js/delete.js"> </script>